{% include 'head.html' %}
<div class="container">
    <h3>About ClothDB</h3>
    <p>We're on a mission to build the world’s most comprehensive fashion database. Imagine a site with information on
        any brand, collection, or item from any time period and of any style. We’re working to make that site a reality.
        ClothDB is the database for anybody who loves fashion and we're excited to build it with your help. </p>
    <h4>Contact Us (send us feature requests/bugs/tell us off/ say hi)</h4>
    <p>Email us: adam.phillips@clothdb.com or daniel.chavez@clothdb.com </p>
    <p>Call or text us: 248-497-9216 or 704-964-5703 </p>
    <p>DM us on IG: @clothdb</p>


</div>