{% include 'head.html' %}
{% include 'messages.html' %}
<script type="text/javascript" src="../static/js/mp_index.js"></script>
<script type="text/javascript" src="../static/js/select2_index.js"></script>
<script src="../static/js/itemloader.js"></script>



<!-- Page Content -->
<div class="container">
  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">Welcome to ClothDB.</h1>
    <p class="lead">ClothDB helps you find about the clothes you love.</p>
  </header>
  <!-- Header -->

  <h3><span>Item Feed</span></h3>

  <br>
  {% include 'product_grid.html' %}
</div>
<!-- /.container -->

