<!-- Page Features -->
<div class="row">
  {% for look in looks %}
  {% if look.deleted != 1 %}
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <a href="{{url_for('main.item', id=look.id)}}">
          <img intrinsicsize="920 x 1380" class="card-img-top" src={{"https://d2x1mfjcaooqwx.cloudfront.net/" ~ look.thumbnails.first().filename}}>
        </a>
        <div class="card-body">
          <a href="{{url_for('main.look', id=look.id)}}">
            <p class="card-text" style="{font-style: oblique;}">{{ look.name }}</p>
          </a>
        </div>
      </div>
    </div>
  {% endif %}
  {% endfor %}
</div>
<!-- /.row -->