    <!-- Page Features -->
    {% include 'head.html' %}


    <meta charset="UTF-8">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css">
    <!-- Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#itemBrand").select2({
                minimumInputLength: 1,
                ajax: {
                    url: "{{url_for('API.get_brands')}}",
                    dataType: 'json',
                    type: "GET",
                    quietMillis: 50,
                    data: function (params) {
                      return {
            term: params.term // search term
        };
    },
    results: function (data) {
        return {
            results: data.items
        };
    }
}
});
            $("#itemStyle").select2({
                minimumInputLength: 1,
                ajax: {
                    url: "{{url_for('API.get_styles')}}",
                    dataType: 'json',
                    type: "GET",
                    quietMillis: 50,
                    data: function (params) {
                      return {
            term: params.term // search term
        };
    },
    results: function (data) {
        return {
            results: data.items
        };
    }
}
});


        });
    </script>



    <body>



        <div class="container">

            <br>
            <br>

            <!-- Header -->
            <h3>Submit a New Item</h3>
            <br>


            <form method="POST" enctype=multipart/form-data>
                <div class="form-group">
                    <label for="exampleFormControlFile1">Upload an Item Image</label>
                    <input type="file" name="fileInput" class="form-control-file" id="exampleFormControlFile1" accept=".jpg,.png,.gif,.webp">
                </div>
                <div class="form-group">
                    <label for="Brand">Search for a Brand</label><br>
                    <select class=form-control" id="itemBrand" style="width:1110px" name="brandInput">
                        <option value="">e.g. Nike</option>
                    </select>
                    <small id="brandHelp" class="form-text text-muted"> If you can't find the brand in the database, submit it <a href="google.com">here</a> and come back.</small>
                </div>
                <div class="form-group">
                    <label>Name of Item</label>
                    <input name="nameInput" class="form-control" placeholder="e.g. Air Force 1">
                </div>

                <div class="form-group">
                    <label for="Category">Category</label>
                    <select class="form-control" id="itemCat" name="categoryInput">
                      <option>Top</option>
                      <option>Bottom</option>
                      <option>Outerwear</option>
                      <option>Footwear</option>
                      <option>Suiting</option>
                      <option>Accessory</option>
                  </select>
              </div>

              <div class="form-group">
                <label for="Subcategory">Subcategory</label>
                <select class="form-control" id="itemSubCat" name="subcatInput">
                    <optgroup label="Tops">
                        <option>T-Shirt</option>
                        <option>Polo</option>
                        <option>Button Up</option>
                        <option>Knitwear</option>
                        <option>Sweatshirt</option>
                        <option>Hoodie</option>
                        <option>Sleeveless</option>
                    </optgroup>
                    <optgroup label="Bottoms">
                        <option>Casual Pant</option>
                        <option>Cropped Pant</option>
                        <option>Jean</option>
                        <option>Legging</option>
                        <option>Overall</option>
                        <option>Short</option>
                        <option>Sweatpant</option>
                        <option>Swim Short</option>
                        <option>Swimwear</option>
                    </optgroup>
                    <optgroup label="Outerwear">
                        <option>Jacket</option>
                        <option>Coat</option>
                        <option>Parka</option>
                        <option>Raincoat</option>
                    </optgroup>
                    <optgroup label="Footwear">
                        <option>Boot</option>
                        <option>Casual Shoe</option>
                        <option>Formal Shoe</option>
                        <option>Sandal</option>
                        <option>Slip-On</option>
                        <option>Sneaker</option>
                        <option>Athletic Shoe</option>
                    </optgroup>
                    <optgroup label="Accessories">
                        <option>Bag</option>
                        <option>Luggage</option>
                        <option>Belt</option>
                        <option>Glasses</option>
                        <option>Glove</option>
                        <option>Scarf</option>
                        <option>Hat</option>
                        <option>Jewelry</option>
                        <option>Watch</option>
                        <option>Wallet</option>
                        <option>Sock</option>
                        <option>Underwear</option>
                        <option>Eyewear</option>
                        <option>Tie</option>
                    </optgroup>
                    <optgroup label="Suiting">
                        <option>Blazer</option>
                        <option>Trouser</option>
                        <option>Suit</option>
                        <option>Vest</option>
                    </optgroup>
                </select>
            </div>

            <div class="form-group">
              <label for="Description">Description of Item: (Feel free to include any background information or context surrounding the item.)</label>
              <textarea class="form-control" rows="5" id="comment" name="description"></textarea>
          </div>

          <div class="form-group">
            <label for="Style">Styles that describe the Item:</label><br>
            <select class=form-control" id="itemStyle" style="width:1110px" name="styleInput">
                <option value="">e.g. Normcore, Prep, Streetwear</option>
            </select>
            <small id="styleHelp" class="form-text text-muted"> If you can't find the style in the database, consider adding it <a href="google.com">here</a>.</small>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>


</body>



{% include 'foot.html' %}