<!-- Page Features -->
<div class="row">
  {% for item in items %}
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <a href="{{url_for('main.item', id=item.id)}}">
            <img intrinsicsize="920 x 1380" class="card-img-top" src={{"https://d2x1mfjcaooqwx.cloudfront.net/" ~ item.thumbnails.first().filename}}>
          </a>
          <div class="card-body">
            <a href="{{url_for('main.brand', id=item.brand_id)}}">
              <h4 class="card-title">{{ item.brand_name }}</h4>
            </a>
            <a href="{{url_for('main.item', id=item.id)}}">
              <p class="card-text" style="{font-style: oblique;}">{{ item.name }}</p>
            </a>
            <!--
            {% if current_user.is_administrator() %}
              <form id="delete{{item.id}}" method="POST">
                <button type="submit" id="delete{{item.id}}"  class="btn btn-danger btn-sm" value={{item.id}}>delete</button>
              </form>
              
            {% endif %}
            -->
          </div>
        </div>
      </div>
  {% endfor %}
</div>
<!-- /.row -->