{% import "_macros.html" as macros %}
{% include 'head.html' %}
<div class="container">
  <!-- Section: Social news card -->
  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-6 col-lg-4 mb-4">
      <!-- Card -->
      <div class="card card-personal">
        <!-- Card image-->
        <img class="card-img" src="https://preview.redd.it/rph2r63v9w951.jpg?width=640&crop=smart&auto=webp&s=272eca2205c485228fbf760322d2804e5c1fe0f0" alt="Card image cap">
        <!-- Card image-->
        <!-- Card content -->
        <div class="card-body">
          <!-- Title-->
          <!-- Text -->
          <p class="card-text">1 AM in Chinatown</p>
          <hr>
          <a class="card-meta"><span><i class="fas fa-user"></i>22 Votes</span></a>
        </div>
        <!-- Card content -->
      </div>
      <!-- Card -->
    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-md-6 col-lg-4 mb-4">
      <!-- Card -->
      <div class="card card-personal">
        <!-- Card image-->
        <img class="card-img" src="https://preview.redd.it/rph2r63v9w951.jpg?width=640&crop=smart&auto=webp&s=272eca2205c485228fbf760322d2804e5c1fe0f0" alt="Card image cap">
        <!-- Card image-->
        <!-- Card content -->
        <div class="card-body">
          <!-- Title-->
          <!-- Text -->
          <p class="card-text">1 AM in Chinatown</p>
          <hr>
          <a class="card-meta"><span><i class="fas fa-user"></i>22 Votes</span></a>
        </div>
        <!-- Card content -->
      </div>
      <!-- Card -->
    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-md-6 col-lg-4 mb-4">
      <!-- Card -->
      <div class="card card-personal">
        <!-- Card image-->
        <img class="card-img" src="https://preview.redd.it/rph2r63v9w951.jpg?width=640&crop=smart&auto=webp&s=272eca2205c485228fbf760322d2804e5c1fe0f0" alt="Card image cap">
        <!-- Card image-->
        <!-- Card content -->
        <div class="card-body">
          <!-- Title-->
          <!-- Text -->
          <p class="card-text">1 AM in Chinatown</p>
          <hr>
          <a class="card-meta"><span><i class="fas fa-user"></i>22 Votes</span></a>
        </div>
        <!-- Card content -->
      </div>
      <!-- Card -->
    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-md-6 col-lg-4 mb-4">
      <!-- Card -->
      <div class="card card-personal">
        <!-- Card image-->
        <img class="card-img" src="https://preview.redd.it/rph2r63v9w951.jpg?width=640&crop=smart&auto=webp&s=272eca2205c485228fbf760322d2804e5c1fe0f0" alt="Card image cap">
        <!-- Card image-->
        <!-- Card content -->
        <div class="card-body">
          <!-- Title-->
          <!-- Text -->
          <p class="card-text">1 AM in Chinatown</p>
          <hr>
          <a class="card-meta"><span><i class="fas fa-user"></i>22 Votes</span></a>
        </div>
        <!-- Card content -->
      </div>
      <!-- Card -->
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->
</section>
<!-- Section: Social news card -->
</div>