{% include 'head.html' %}
{% import "_macros.html" as macros %}
{% include 'messages.html' %}
<div class="container">
    <div class="page-header">
        <img class="img-rounded profile-thumbnail" src={{"https://d2x1mfjcaooqwx.cloudfront.net/" ~ user.profile_pic_filename}} height="256" width="256">
        <div class="profile-header">
            <h1>{{ user.username }}</h1>
            {% if user.name or user.location %}
                <p>
                    {% if user.name %}{{ user.name }}<br>{% endif %}
                    {% if user.location %}
                        from <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a><br>
                    {% endif %}
                </p>
            {% endif %}
            
            
            
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            <p>
                {% if user == current_user %}
                    <a class="btn btn-primary" href="{{ url_for('.user_edit', id=user.id) }}">Edit Profile</a>
                {% endif %}
            </p>
        </div>
    </div>
    <br>
    <h3>{{ user.username }}'s Collection</h3>
    {% include 'haves_grid.html' %}
    <h3>{{ user.username }}'s Wantlist</h3>
    {% include 'wants_grid.html' %}
    <!--
    
    -->
