{% import "_macros.html" as macros %}
{% include 'head.html' %}
<br>
<div class="page-header">
    <img class="img-rounded profile-thumbnail" src={{"https://groovespotimages.s3.us-east-2.amazonaws.com/" ~ user.profile_pic_filename}} height="256" width="256">
    <div class="profile-header">
        <h1>{{ user.username }}</h1>
        {% if user.name or user.location %}
        <p>
            {% if user.name %}{{ user.name }}<br>{% endif %}
            {% if user.location %}
                from <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a><br>
            {% endif %}
        </p>
        {% endif %}


        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        <p>
            {% if user == current_user %}
            <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit Profile</a>
            {% endif %}


        <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Wantlist</a>
        <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Collection</a>
        </p>
    </div>
</div>


{% include 'foot.html' %}
